<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
	integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
	crossorigin="anonymous" />
<title>Prova Guilherme</title>
<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"
	integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX"
	crossorigin="anonymous" />
</head>
<body>
	<div class="container">
		<div class=" row">

			<form action="/pagina" method="post">
			<input name = "descricao"/>
			</form>
			<ul>
			<li th:each ="Times:${times}" th:text ="${Times.descricao}"></li>
			<button type="submit" class="btn btn-default">+</button>
			<button type="submit" class="btn btn-default">-</button>
			</ul>
	</div>
</body>
</html>
